*.wait {
    font-family: sans-serif;
    box-sizing: border-box;
  }

  .responsive {
    width: 85%;
    height: auto;
  }
  
  html {
    height: 100%;
    width: 100%;
    scrollbar-color: hsl(54, 100%, 50%);
  }
  
  body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: black;
  }
  
  header {
    flex: 1;
    flex-direction: column;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 20px;
    background: hsl(54, 100%, 50%);
    color:black;
  }

  h1.home-banner {
    padding-top: 2vh;
    text-align: center;
  }
  h1.home-banner a {
    text-decoration:none;
    color:black;
  }

  #login {
    width: 100%;
  }

  span.login {
    float: right;
    padding-right: 1vw;
  }

  nav {
    flex: 1;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type:none;
    width: 100%;
    padding:1vw;
    overflow:hidden;
    background-color:hsl(54, 100%, 50%);
  }

  li.nav  {
    float:left;
    display: flex;
    align-items: center;

  }
  li a    {
    float:left;
    color:black;
    text-align:center;
    padding-left:1vw;
    padding-right:1vw;
    text-decoration:none;
  }
  
  main {
    padding: 2vh;
    flex: 1;
    background-color: black;
    height: 100%;
    width: 100%;
    color: white;
  }

  main a {
    color: hsl(54, 100%, 50%);
  }

  div.entry  {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  div.entryExample {
    flex: 1;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  footer {
    flex: 1;
    padding: 2vh;
    background: hsl(54, 100%, 50%);
    text-align: center;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position:sticky;
    width:100%;
    bottom:0;
  }
  